<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><span translate>Home</span></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-card-title>
              <span>Locker 1</span>
            </ion-card-title>
            <button *ngIf="status[0].opened" (click)="send(1, true)">
              <ion-icon name="lock-open-outline"></ion-icon> Lock
            </button>
            <button *ngIf="!status[0].opened" (click)="send(1, false)">
              <ion-icon name="lock-closed-outline"></ion-icon> UnLock
            </button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-card-title>
              <span>Locker 2</span>
            </ion-card-title>
            <button *ngIf="status[1].opened" (click)="send(2, true)">
              <ion-icon name="lock-open-outline"></ion-icon> Lock
            </button>
            <button *ngIf="!status[1].opened" (click)="send(2, false)">
              <ion-icon name="lock-closed-outline"></ion-icon> UnLock
            </button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-card-title>
              <span>Locker 3</span>
            </ion-card-title>
            <button *ngIf="status[2].opened" (click)="send(3, true)">
              <ion-icon name="lock-open-outline"></ion-icon> Lock
            </button>
            <button *ngIf="!status[2].opened" (click)="send(3, false)">
              <ion-icon name="lock-closed-outline"></ion-icon> UnLock
            </button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-card-title>
              <span>Locker 4</span>
            </ion-card-title>
            <button *ngIf="status[3].opened" (click)="send(4, true)">
              <ion-icon name="lock-open-outline"></ion-icon> Lock
            </button>
            <button *ngIf="!status[3].opened" (click)="send(4, false)">
              <ion-icon name="lock-closed-outline"></ion-icon> UnLock
            </button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
